    <div>
      <% @events.each do |event| %>
        <h2><a href="/views/events/<%= event["id"] %>"><%= event["title"] %></a></h2>
        <h3>Begins: <%= event['start'] %></h3>
        <h3>Ends: <%= event['end'] %></h3>
        <br>
      <% end %>
    </div>